@import "variables.scss";

.main{

    .main_text_section{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
        padding: 40px 0;
        position: relative;
        
        h2{
            padding: 40px 0;
        }
        p{
            padding: 40px 0;
        }

        .div_line{
            height: 2px;
            background-color: $mid_gray;
            width: 300px;
            border-radius: 10px;
        }
    }

    .brake_red_line{
        position: absolute;
        height: 16px;
        background-color: $color_red;
        width: 500px;
        top: 0;
    }

    .brake{
        background-color: $charade_2;
        display: flex;
        justify-content: center;
    }

    .news{
        background-color: $charade;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 200px;
        position: relative;  

        .news_container{
            
            width: 65%;
            display: inline-grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 300px;
            grid-gap: 25px;
            
            .news_card{
                position: relative;
                overflow: hidden;
                
                .news_card_text_container{
                    padding: 20px;
                    background-color: $charade_2;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transition: .5s;
                    h3{
                        color: $color_red;
                    }
                    p{
                        padding: 10px 0;
                    }
                }

                &.wide_card{
                    grid-column: 1/3;
                    .news_card_image_container{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    .news_card_text_container{
                        height: 30%;
                    }
                }
                &.narrow_card{
                    .news_card_image_container{
                        height: 100%;
                        img{
                            height: 100%;
                            object-position: center;
                        }
                    }
                    
                    .news_card_text_container{
                        height: 20%;
                    }
                }
                &.card_2{
                    grid-column: 3/4;
                    grid-row: 1/3;
                }
                &.card_3, &.card_4{
                    grid-row: 2/4;
                }
                &.card_6{
                    grid-column: 3/4;
                    grid-row: 3/5;
                }

                .hover_link{
                    a{
                        font-weight: bold;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #ea4a5586;    
                        transform: translateX(-110%);
                        transition: .3s;
                    }
                }
                &:hover{
                    .hover_link{
                        a{
                            font-weight: bold;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #ea4a5586;  
                        transform: translateX(0);
                        }
                    }
                    .news_card_text_container{
                        transform: translateY(100%);
                    }
                }
                
            }
        }
    }

    .view_button{
        background-color: $color_red;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 0;
        text-align: center;
        transition: .3s;

        &:hover{
            p{
                color: black;
            }
            background-color: white;
        }
    }

    .play_sample{
        background-image: url("assets/images/home-testimonial-parallax.jpg");
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .quote_container{
            width: 50%;
            text-align: center;
            p{
                padding-bottom: 20px;
                line-height: 50px;
            }
            .play_button a{
                color: white;
                display: inline-block;
                background-color: $color_red;
                padding: 40px;
                border-radius: 50%;
            }
        }
    }

    .live_dates{
        background-color: $charade;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 250px;
        position: relative;

        .live_dates_list{

            width: 70%;
            
            li{
                height: 55px;
                overflow: hidden;
                list-style: none;
                margin: 10px 0;
                width: 100%;
                background-color: $charade_2;
                transition: .3s;

                .live_dates_icon_container{
                    display: inline-block;
                    padding: 20px;
                    i{
                        padding: 3px;
                        color: white;
                        font-size: 10px;
                        &:hover{
                            background-color: $color_red;
                        }
                    }
                }
                .position{
                    display: inline-block;
                    h3{
                        color: $color_red;
                    }
                }
                .list_item_hidden{
                    padding: 40px;
                    display: flex;
                    
                    .map_container{
                        width: 30%;
                        img{
                            width: 300px;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                    .description_container{
                        padding: 0 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h3{
                            padding-top: 10px;
                            color: white
                        }
                        p{
                            padding: 10px 0;
                            line-height: 30px;
                        }
                        a{
                            align-self: start;
                            background-color: $color_red;
                            padding: 10px 30px;
                            border-radius: 4px;
                        }
                    }
                }

                /* quando clicchi su una sola le apre tutte (ticket con Florian) */
                &.item_opened{
                    height: 350px;
                }
            }
        
        }
    }
}