$mid_gray: #6b6b6c;
$charade: #272b34;
$charade_2: #292d39;
$blue_zodiac: #0b2037;
$color_red: #ea4a56;

h2{
    font-size: 60px;
    color: white;
}

.small_text{
    font-size: 14px;
    color: $mid_gray;
}

a{
    color: white;
    text-decoration: none;
}