$mid_gray: #6b6b6c;
$charade: #272b34;
$charade_2: #323844;
$blue_zodiac: #0b2037;
$color_red: #ea4a56;

h2{
    font-size: 60px;
    color: white;
}

.small_text{
    font-size: 14px;
    color: $mid_gray;
}
.big_text{
    color: white;
    font-size: 25px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}